# Tutorial Access Transformers.
########### THESE ARE DIFFERENT IN 1.4 ################
# Lines starting with a '#' are comments and aren't needed, although it's a good idea to label them so you know what changes what.

# World
# So to make a field public, put something like this:
#public up.G # spawnHostileMobs
# In 1.4, the above line would be "public xe.F"

# EntityPlayer
# To make a method public, you need to include the arguments and the return type
#public og.m()V # increaseLevel

# CraftingManager
# To make a field non-final, add '-f' to public or protected.
# To make a field final, add '+f'.
#public-f td.a # instance